@font-face {
    font-family: "fonteNet";
    src: url("fonts/net-font.ttf");
}
h1 {
    margin-top: 30px;
    text-align: center;
     font-family: "Century Gothic";
    font-size: 1.5em;
}
.grupo {
    font-size: 0.8em;
    text-align: center !important;
    font-family: "Century Gothic";
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 500px;
    height: border-box;



}
body {
    content: "";
	background: url("imgs/verde.jpg");
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
    }


